<title>yuno codepage</title>
<link rel='shortcut icon' type='image/png' href='/static/favicon.png' />
<pre><code>ΓΔΘΞΠΣΦΨΩαβγδεζη
θικλμξπρςστυφχψω
 !"#$%&'()*+,-./
0123456789:;<=>?
@ABCDEFGHIJKLMNO
PQRSTUVWXYZ[\]^_
`abcdefghijklmno
pqrstuvwxyz{|}~¶
äæçðøħŋœǂɐɒɓɔɕɖɗ
ɘ¡¿ɞɟɠɣɤɥɦɧɨɫɬɭɮ
ɯɰɱɲɳɵɶɹɻɽɾʁʂʃʄʈ
ʉʊʋʌʎʐʑʒʔʛʝʞʡʢˌᶑ
‖ᴀʙᴅᴇғɢʜɪᴊᴋʟᴍɴᴘǫ
ʀᴛʏԻԸԹիըթ‼°¹²³⁴⁵
⁶⁷⁸⁹⁺⁻⁼×÷¬ϨϩϪϫϮϯ
ϰϱϷϸϻϼϾϿ┝┥«»‘’“”</code></pre>
<style>body,pre,code{background-color:#1c1b22;color:#fbfbfe;font-family:'Consolas',monospace}</style>
