<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="yuno online interpreter" />
    <meta name="keywords" content="hyper-neutrino, yuno, online, interpreter" />
    <meta name="author" content="hyper-neutrino" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="/static/dictionary.js"></script>
    <script src="/static/constdigraphs.js"></script>
    <script src="/static/yuno.js"></script>
    <script src="/static/script.js"></script>

    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.png" />

    <title>yuno interpreter</title>
  </head>

  <body>
    <main>
      <div class="container">
        <br />
        <span style="font-size:120%"><b>yuno online interpreter</b>. <a href="/verbs">verbs</a>, <a href="/adverbs">adverbs</a>, <a href="/builtins">builtins</a></span><br />

        <br />
        <b id="tg-header" class="toggler" data-target="header">▸ Header</b>
        <br />
        <textarea id="header" class="input" hidden></textarea>
        <br />

        <b id="tg-code" class="toggler" data-target="code">▸ Code</b>
        <br />
        <textarea id="code" class="input" hidden></textarea>
        <br />

        <b id="tg-footer" class="toggler" data-target="footer">▸ Footer</b>
        <br />
        <textarea id="footer" class="input" hidden></textarea>
        <br />

        <b id="tg-stdin" class="toggler" data-target="stdin">▸ STDIN</b>
        <input id="promptinstead" type="checkbox" />
        <label for="promptinstead">Prompt instead of reading from this textarea</label>
        <br />
        <textarea id="stdin" class="input" hidden></textarea>
        <br />

        <b id="tg-clas" class="toggler" data-target="clas">▸ Arguments</b>
        <div id="clas" hidden><br />
          <span id="base" onclick="add_argument('#base')" class="addbutton">+ add</span>
        </div>
        <br /><br />

        <b id="tg-flags" class="toggler" data-target="flags">▸ Flags</b>
        <br />
        <textarea id="flags" class="input" hidden></textarea>
        <br />

        <button id="run">
          RUN
        </button>
        <button id="link">
          LINK &amp; FORMAT SE MD
        </button>
        <button id="inline">
          LINK &amp; FORMAT INLINE MD
        </button>
        <br /><br />

        <b id="tg-output" class="toggler" data-target="output">▾ Stack Exchange post format</b>
        <textarea id="output" class="input wrap" readonly></textarea>
        <br /><br />

        <b id="tg-stderr" class="toggler" data-target="stderr">▾ STDERR</b>
        <textarea id="stderr" class="input wrap" readonly></textarea>
      </div>
    </main>

    <footer>
      <div class="container">
        &copy;&nbsp;2021 Alexander Liao - MIT License - <a href="https://github.com/hyper-neutrino/yuno">Source Code</a>
      </div>
    </footer>
  </body>
</html>
